@import 'styles/var.scss';

.breadcrumb {
	&__main {
		font-size: $font_size;
		position: relative;

		& .breadcrumbWrapper {
			font-size: $font_size_sm;
			padding: 20px 30px;

			& ul li {
				display: inline-block;
				margin: 0 5px;
				color: $text-grey;

				& a {
					color: $text-grey;

					&:hover {
						color: $text-blue;
					}
				}

				&:last-child a {
					color: $text-blue;
				}
			}
		}
	}
}
