@import 'styles/var.scss';

.showlist {
	&__main {
		font-size: $font_size;
		position: relative;

		.showListCont {
			padding: 12px 30px;

			.showingTxt {
				display: inline-block;
				font-size: $font_size_sm;
				padding-right: 15px;
			}

			.showList {
				width: 110px;
				display: inline-block;
				margin-bottom: 0;

				& select {
				    font-size: $font_size;
				    height: 50px;
				    border-radius: 7px;
				    color: $text-blue;

				    &:focus {
						box-shadow: none;
						border-color: $border-blue;
					}
				}
			}
		}
		
	}
}
