@import 'styles/var.scss';

.showlist {
	&__main {
		font-size: $font_size;
		position: relative;

		.showListCont {
			padding: 20px 0;

			.showingTxt {
				display: inline-block;
				font-size: $font_size_sm;
				padding-right: 15px;
			}

			.showList {
				width: 130px;
				display: inline-block;
				position: relative;
				margin-bottom: 0;

				&:after {
					content: '';
					background: url(../../../assets/svg/down-arrow.svg) no-repeat;
					display: block;
					position: absolute;
					top: 50%;
					right: 20px;
					width: 16px;
					height: 16px;
					background-size: 16px 16px;
					transform: translateY(-50%);
				}

				& select {
					font-size: $font_size;
					height: 50px;
					border-radius: 7px;
					color: $text-blue;

					&:focus {
						box-shadow: none;
						border-color: $border-blue;
					}
				}
			}
		}
	}
}
.showList {
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	border-radius: 10px;

	&:after {
		content: '';
		background: url(../../../assets/svg/down-arrow.svg) no-repeat;
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		width: 16px;
		height: 16px;
		background-size: 16px 16px;
		transform: translateY(-50%);
	}

	& select {
		padding: 0 40px 0 20px !important;
		font-size: $font_size;
		height: 50px;
		border-radius: 7px;
		color: $text-blue;

		&:focus {
			box-shadow: none;
			border-color: $border-blue;
		}
	}
}
