@import 'styles/var.scss';

.showcause {
	font-size: $font_size;

	&__content {
		padding: 30px;
	}

	&__title {
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__control {
		margin-bottom: 10px;
	}

	&__checkbox {
		display: flex;
		align-items: center;

		.form-control {
			display: inline-block;
			width: initial;
			margin-right: 15px;
		}
	}
}
