@import 'styles/var.scss';

.footer {
	&__main {
		font-size: $font_size;
		position: relative;

		& .footer {
			background-color: $bg-black;
			color: $text-white;
			padding: 16.6px 30px;
			width: 100%;

			@include max-lg {
				padding: 30px;
			}

			& .footerTitle .bold-font {
				padding-bottom: 10px;
				border-bottom: solid 1px rgba(255, 255, 255, 0.5);

				@include max-lg {
					padding-bottom: 15px;
				}
			}

			& .footerLinks {
				font-size: $font_size_sm;
				margin-top: 10px;

				@include max-lg {
					margin-top: 15px;
				}

				& li {
					display: inline-block;
					padding-right: 20px;

					& a {
						color: rgba(255, 255, 255, 0.5);

						&:hover {
							color: $text-white;
						}
					}
				}
			}

			& .footerCopyrights {
				font-size: $font_size_sm;
				text-align: right;
				margin-top: 10px;
				color: rgba(255, 255, 255, 0.5);

				@include max-lg {
					text-align: center;
				}
			}
		}
	}
}
