.print-barcode--id{
    .print--title{
        padding-top: 7px;
        display:block;
    }
    .print--form-control{
        float: left;
        margin-right:20px;

        .form-control{
            height: 43px;
        }
    }
}
    
    
    