@import 'styles/var.scss';

.tab {
	&__main {
		font-size: $font_size;
		position: relative;

		.tabsContainer {
			padding: 0 30px;

			& ul li {
				display: inline-block;
				margin-right: 20px;
				font-size: $font_size_xl;

				&.active,
				&:hover {
					border-bottom: solid 2px $border-blue;
				}
			}

			& a {
				padding: 10px 30px;
			}
			&.active a {
				color: $bg-blue;
				font-family: $fontBold;
			}	
		}
	}
}
