@import 'styles/var.scss';

.tabsContainer {
	padding: 0 30px;

	.nav-tabs {
		border-bottom: solid 2px $border-grey;

		& ul li {
			display: inline-block;
			margin-right: 20px;
			font-size: $font_size_xl;

		}

		& a {
			padding: 10px 40px;
			font-size: $font_size_l;
			font-family: $fontBold;

			@include max-md {
				padding: 10px 20px;
			}
		}
		&.active a {
			color: $bg-blue;
			font-family: $fontBold;
		}
	}
	.tab-pane__group {
		border-collapse: collapse; overflow: hidden; border-radius: 10px; margin-bottom: 40px; border: 1px solid $border-grey;
		@include max-ml {
			margin: 0 30px 30px 30px;
		}
	}
	.tab-content {
		margin-top: 30px;
		.tab-pane__title { font-family: $fontBold; font-size: $font_size_l; padding: 17px 30px; margin-bottom: 0; background-color: $bg-blue; color: $text-white; }
	}
	&.active a {
		color: $bg-blue;
		font-family: $fontBold;
	}

	@include max-ml {
		padding: 0;
	}
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
	background-color: transparent;
	border-color: transparent;
	border-bottom: solid 2px $border-bondi-blue;
	color: $text-bondi-blue!important;
	font-family: $fontBold;
	cursor: pointer;
}
